/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  color: inherit;
  text-decoration: none;
}

/* Header */

header {
  height: 100vh;
  color: #fff;
  text-align: center;
  position: relative;
}

header > * {
  z-index: 2;
}

header > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo > img {
  aspect-ratio: 1/1;
  width: 80px;
}

header > .nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header nav > a {
  transition: color 350ms;
}

header nav > a:hover {
  color: #c61e1e;
}

.container-header {
  background: #00000080;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-header,
.container {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.descBox {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: end;
}

.description {
  text-align: end;
  margin-top: 0px;
  max-width: 540px;
}

/* Content */

.mark {
  font-weight: bold;
  color: #c42e32;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  margin: 30px 0;
  display: inline-block;
  padding: 20px 0;
  width: 200px;
  text-align: center;
  color: #fff;
  background-color: #c42e32;
}

.contain-center {
  margin-top: 30px;
  text-align: center;
}

/* display film */
.display-films {
  margin-top: 50px;
}

.display-films img {
  width: 100%;
  height: 100%;
}

/* 3d section */
.section-3d {
  margin: 40px 0;
  padding: 30px 0;
  position: relative;
}

.section-3d > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-3d p {
  margin-top: 50px;
  padding: 10px;
  color: #fff;
  background-color: #c42e32;
}

/* section foods */
.display-foods {
  background-color: #f1e5e5;
}

.introducing_food img {
  width: 100%;
  height: 100%;
}

.three-foods {
  margin-top: 50px;
  text-align: center;
}

.three-foods h3 {
  margin: 20px 0;
}

.three-foods img {
  width: 100%;
  aspect-ratio: 4/2.8;
}

/* Footer */

.footer {
  height: 500px;
  margin-top: 100px;
  position: relative;
}

.footer > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 740px) {
  .header {
    height: 700px;
    text-align: left;
  }

  /* .nav {
    height: 100%;
    text-align: center;
    color: #fff;
  } */

  .nav a {
    padding: 0 15px;
    text-transform: uppercase;
  }

  /* display-films */
  .display-films {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .display-films img {
    height: 400px;
    width: 100%;
  }

  /* title */
  .contain-center {
    text-align: left;
  }

  /* section 3d */
  .section-3d {
    height: 700px;
  }

  .section-3d p {
    width: 400px;
    margin-top: 300px;
    float: right;
  }

  /* section foods */
  .introducing_food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }

  .three-foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
